'use strict';

import {h} from 'preact';
import Base from './base';

export default function Slacker({text}) {
  return h(Base, {
    text: text || "%TEXT%",
    backgroundImage: icon()
  })
};

function icon() {
  return "%IMAGE_BASE64%"
}
